<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>Contact</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include "event/general_includes/include_css.html" %}
    {% include "event/general_includes/include_js.html" %}
</head>
<body>
<!---start-wrap---->
{% include "event/general_includes/header.html" %}
<!---start-content---->
<div class="content">
    <div class="wrap">
        <div class="contact-info">
            <div class="map">
                <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                        src="https://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=450+W+42nd+St,+New+York,+NY+10036&amp;aq=4&amp;oq=light&amp;sll=40.7589366,-73.9917406&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=450+W+42nd+St,+New+York,+NY+10036&amp;t=m&amp;z=14&amp;ll=40.7589366,-73.9917406&amp;output=embed"></iframe>
                <br>
                <small><a
                        href="https://maps.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=450+W+42nd+St,+New+York,+NY+10036&amp;aq=4&amp;oq=light&amp;sll=40.7589366,-73.9917406&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=450+W+42nd+St,+New+York,+NY+10036&amp;t=m&amp;z=14&amp;ll=40.7589366,-73.9917406"
                        style="color:#666;text-align:left;font-size:12px"></a></small>
            </div>
            <div class="contact-grids">
                <div class="col_1_of_bottom span_1_of_first1">
                    <h5>Address</h5>
                    <ul class="list3">
                        <li>
                            <img src="/static/event/images/home.png" alt="">

                            <div class="extra-wrap">
                                <p>450 W 42nd St<br>New York, NY 10036</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col_1_of_bottom span_1_of_first1">
                    <h5>Phones</h5>
                    <ul class="list3">
                        <li>
                            <img src="/static/event/images/phone.png" alt="">

                            <div class="extra-wrap">
                                <p><span>Telephone:</span>+1 774 262 3033</p>
                            </div>
                            <img src="/static/event/images/fax.png" alt="">

                            <div class="extra-wrap">
                                <p><span>FAX:</span>+1 774 262 3033</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col_1_of_bottom span_1_of_first1">
                    <h5>Email</h5>
                    <ul class="list3">
                        <li>
                            <img src="/static/event/images/email.png" alt="">
                            <div class="extra-wrap">
                                <p><span class="mail"><a href="mailto:lassieyogurt@gmail.com">lassieyogurt(at)gmail.com</a></span></p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
{% include "event/general_includes/footer.html" %}
<!---//End-wrap---->
</body>
</html>