<!---start-header---->
<div class="header">
    <div class="wrap">
        <div class="logo">
            <a href="/event/"><img src="/static/event/images/burg.png" title="pinbal"/></a>
        </div>
        <div class="nav-icon">
            <a href="#" class="right_bt" id="activator"><span> </span> </a>
        </div>
        <div class="box" id="box">
            <div class="box_content">
                <div class="box_content_center">
                    <div class="form_content">
                        <div class="menu_box_list">
                            <ul>
                                <li><a href="/event"><span>News</span></a></li>
                                {% ifequal login_user.role 2 %}
                                    <li><a href="/publish"><span>Publish</span></a></li>
                                {% endifequal %}
                                {% ifequal login_user.role 4 %}
                                    <li><a href="/new_event"><span>NewEvent</span></a></li>
                                {% endifequal %}
                                {% if not user.is_anonymous %}
                                    {% ifnotequal login_user.role 3 %}
                                        {% ifnotequal login_user.role 4 %}
                                            <li><a href="/my_events"><span>MyEvents</span></a></li>
                                            <li><a href="/my_friends"><span>MyFriends</span></a></li>
                                        {% else %}
                                            <li><a href="/all_events"><span>AllEvents</span></a></li>
                                            <li><a href="/all_user"><span>AllUser</span></a></li>
                                        {% endifnotequal %}
                                    {% else %}
                                        <li><a href="/all_events"><span>AllEvents</span></a></li>
                                        <li><a href="/all_user"><span>AllUser</span></a></li>
                                    {% endifnotequal %}
                                {% endif %}
                                {% if user.is_anonymous %}
                                    <li><a href="/event/register"><span>Register</span></a></li>
                                {% endif %}
                                <li><a href="/contact"><span>Contact</span></a></li>
                                {% if not user.is_anonymous %}
                                    <li><a href="/event/logout"><span>Logout</span></a></li>
                                {% endif %}
                                <div class="clear"></div>
                            </ul>
                        </div>
                        <a class="boxclose" id="boxclose"> <span> </span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="top-searchbar">
            <form>
                <input type="text"/><input type="submit" value=""/>
            </form>
        </div>
        <div class="userinfo">
            <div class="user">
                <ul>
                    <li>
                        {% if user.is_anonymous %}
                            <a href="/event/login">
                            <img src="/static/event/images/anonymous.png" height="43" width="43"
                                 title="user-name"/><span>Login</span>
                        {% else %}
                            <a href="/event/modify_info">
                            {% ifequal user.pic '' %}
                                <img src="/static/event/images/user-pic.png" height="43" width="43"
                                     title="user-name"/><span>{{ user.first_name }}</span>
                            {% else %}
                                <img src="/image/user/{{ user.id }}" height="43" width="43"
                                     title="user-name"/><span>{{ user.first_name }}</span>
                            {% endifequal %}
                        {% endif %}
                        </a></li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<!---//End-header---->