{% for news in newss %}
    <li onclick="location.href='/event/news/{{ news.id }}';">

        <img src="/image/news/{{ news.id }}" width="200" title="{{ news.abstract }}">

        <div class="post-info">
            <div class="post-basic-info">
                <h3><a href="#">{{ news.title }}</a></h3>
                <span><a href="#"><label> </label>{{ news.tag }}</a></span>

                <p>
                {{ news.datetime }}<br>
                </p>

            </div>
        </div>
    </li>
{% endfor %}